body { 
    padding: 0px; 
    margin: 0px;
    background: pink;
}

 main{
    background: pink;

 } 


div { 
    box-sizing: border-box;     
}


/* удаляет дефолтные отступы у элементов h и p */
h1, h2, p {
    margin: 0;    
}
.container {
    max-width: 1114px;
    margin:0 auto; 
    border: blue;   
}
.section {
    text-align: center;
}
.section.pricing_options {
    background: #f5f5f5;
}

.head{
}

.head .title  {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding-top: 109px;
    background: red;
}

.head .subtitle {
    color: #86878b;
    font-size: 14px;
    font-family: "Open sans", Sans-serif;
    text-align: center;
    margin: 30px 0;
    background: yellow;
}

 .head .title:after{
    content: '';
    background: #ff8d2d;
    width: 64px;
    height: 2px;
    display: block;
    margin: 30px auto;
} 

.nav_bar {
    text-align: center;
    display:block;
    height: 70px;
    background: black;

}

.nav_logo {
    display:table-cell;
    vertical-align:middle; 
    height: 70px;

}

nav {
    background: red;
    display:table-cell;
    vertical-align:middle; 
    /* height: 70px; */
    /* float: left; */
}

nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    list-style: none ;
    margin-right: 48px;
    font-size: 14px;
}
nav ul li:last-child {
    margin-right: 0px;
}

nav ul li a {
    color: #c9c9c9 ;
    text-decoration:none;
    /* padding: 29px 148px 27px 0px ; */   
}
.header {
    background: url('../images/image.png');
}
.head_main{
    /* background: pink; */
    max-width: 512px;
    text-align: left;
    padding-top: 110px;
    /* padding-left: 150px; */
}
.head_main h1{
    font-size: 28px; /*(не соответ макету шрифт) */
    font-family:'Raleway', sans-serif ;
    font-weight: 300;
    color:#ffffff ;
    margin-top: 33px;
}
.head_main p {
    color: #86878b;
    font-size: 14px;
    font-family: "Open sans", Sans-serif;
    text-align: left;
    margin: 30px 0;
    /* background: yellow; */
}
 .head_main h1:after{
    content: '';
    background: #fff;
    width: 64px;
    height: 2px;
    display: block;
    margin: 40px 0;
}
.head_main .button {
    background: transparent;
    font: bold 15px 'Open Sans', sans-serif;
    border: 2px solid #fff;
    padding: 6px 30px;
    margin-top: 35px;
    cursor: pointer;
}
.brand_bar {

    background-color: #ffffff;
}

.row {  
    padding: 80px 0 104px;
}

.row:after {
    clear: both;
    content: "";
    display: table;
}

.column {
	max-width: 350px;
    text-align: center;
	float: left;
    margin-right: 32px;
    background: green;
}
.column:last-child {
	margin-right: 0px;
}

.column_img  {
    display: inline-block;
    border: 2px solid #ff9741;
    width: 64px;
    height: 64px;
    border-radius: 32px;
}
.column_img:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.column_img img {
    vertical-align: middle;
}
.column_title  {
	font-size: 20px;
	font-family: "Open sans", Sans-serif;
	font-weight:700;
	text-align: center;
	color: #333333;
    padding-top: 30px;
}

.column_text {
	font-size: 14px;
	font-family: "Open sans", Sans-serif;
	color: #86878b;
    margin-top: 30px;  
}

.column_testimonials_main{
   background: #2effee;
   display:flex ;
   flex-direction: row;
   justify-content: center; 
   align-items: flex-start; 
}
.column_testimonials {
   width: 273px ; 
   margin-right: 120px;
   background: green;
}
.column_testimonials:last-child {
     margin-right: 0px;
}
.column_testimonials_text {
    background: #f5f5f5;
    border-radius: 2px;
    font: italic 14px "Open sans", Sans-serif;
    color: #949598;
    padding: 24px 13px 26px 12px;
    text-align: left;
}
.bio {
    display: table;
    border-spacing: 2px 0;
}
.column_testimonials_photo {
    display: table-cell;
    vertical-align: bottom;
}
.column_testimonials_personality {
    background: #ff2ecb;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}


.stylish {
    background: url("../images/background1.png") no-repeat center top /cover;
    padding-bottom: 63px;
    text-align: center;
    height: 319px;
}

input{
    width: 527px;
    margin-bottom: 40px;
    font-size: 15px;
    color: #c5c5c5;
    font-family:"Open sans", Sans-serif
}
input [type="text"]{
    padding-bottom: 10px;
}

.form {
    max-width: 1121px;
    background: red;
    margin-right: auto; 
    margin-left: auto;
    font-size: 15px;
    color: #c5c5c5;
    font-family:"Open sans", Sans-serif
}

.form_block {
    width: 527px;
    display: inline-block;
}
.messege {
    display: inline-block;
}

.footer {
    background-color: #000;
    margin:0;
    padding-top: 40px;
    text-align: center;
}

.footer_social_icons i {
    color: #cccccc;
    
    font-size: 24px;  
    margin-right: 30px;
    margin-bottom: 15px;

}

.footer_social_icons i:last-child {
    margin-right: 0px;
}
.footer_social {
    color: #404040;
    text-align: center;
    padding-bottom: 14px;
   
}
